<h1>About</h1>
<p>Coding challenge for Kaplan Labs</p>
<p>Create a Small app that provides a unified interface to at least 2 APIs.
     You can create the APIs yourself, you can use existing public APIs, you can use more than 2 if you want. 
    Really, have fun with it! Extra points for the technologies listed above.</p>